.project a {
    display: block;
}

h3 {
    text-align: center;
}

h4 {
    padding-top: 50px;
    text-transform: uppercase;
}

.user-interaction, .help-instruction {
    text-align: center;
}

img {
    border: 3px solid silver;
    max-width: 100%;
    height: auto;
}

.to-discovery, .to-design {
    text-align: center;
    padding-top: 25px;
}