.project a {
    display: block;
    line-height: 2.75;
}

/* Clearfix after project paragraph containing hyperlinks */
.project::after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    text-align: center;
}

h4 {
    padding-top: 50px;
    text-transform: uppercase;
}

.user-interaction, .help-instruction {
    text-align: center;
}

img {
    border: 3px solid silver;
    max-width: 100%;
    height: auto;
}

.to-discovery, .to-design {
    text-align: center;
    padding-top: 25px;
}

/* For laptop and desktop screens */
@media only screen and (min-width: 600px) {
    .project a {
        float: left;
        width: 50%;
        line-height: initial;
    }
}