/* Include padding and borders within width and height of all elements */
* {
    box-sizing: border-box;
}

/* Prepare the body style */
body {
    max-width: 100%;
    margin: 0;
    padding: 25px 50px;
	font-family: 'Rubik', Verdana, sans-serif;
    font-size: 4.5vw;
    background-color: white;
    color: #28498a;
}

/* Style all hyperlinks */
a {
    color: coral;
    font-style: italic;
}

/* Change style when user hovers over hyperlink */
a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: rgb(17, 199, 255);
}

header {
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(17, 199, 255);
}

h1 {
    font-family: 'Spectral', Georgia, serif;
    text-align: center;
    color: rgb(17, 199, 255);
    margin-top: 0;    
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(17, 199, 255);
}

.project {
    padding-top: 50px;
}

section, .to-top {
    padding-top: 25px;
}

.client {
    text-shadow: 1px 1px rgb(17, 199, 255);
    letter-spacing: 2px;
}

h2 {
    color: rgb(17, 199, 255);
    font-family: 'Spectral', Georgia, serif;
}
    h3, 
    h4 {
        font-family: 'Spectral', Georgia, serif;
    }

    h3 {
        text-align: center;
    }

    h4 {
        padding-top: 50px;
        text-transform: uppercase;
    }

.to-top {
    text-align: center;
}

footer {
    padding-top: 50px;
    text-align: center;
}

/* For laptop screens */
@media only screen and (min-width: 600px) {

    /* decrease font size for tablets */
    body {
        font-size: 1.5em;
        padding-top: 0;        
    }
        /* Remove heading 1 styling */
        h1 {
            border-bottom: none;
        }
        /* Style project links */
        .project {
            text-align: center;
        }
}

/* For desktop screens */
@media only screen and (min-width: 768px) {
    body {
        font-size: 1.25em;
        padding-right: 10%;
        padding-left: 10%;
    }
}

/* For larger screens */
@media only screen and (min-width: 1024px) {
    body {
        padding-right: 12.5%;
        padding-left: 12.5%;
    }
}