/* Style the thank you message seen on the screen */
p:nth-child(2) {
    padding-top: 50px;
}
    p:nth-child(3) {
        padding-top: 25px;
    }

section p {
    padding-inline-start: 5%;
}

/* Reset default styling */
section:first-of-type {
    padding-top: 25px;
}

h2 a {
    color: inherit;
    text-decoration: inherit;
    font-style: inherit;
}
    h2 a:hover {
        text-decoration: underline;
    }