/* Style the top project link and instruction */
.project a, .project-instruction {
    line-height: 2.75;
}
    .root {
        font-weight: bold;
    }
.project a {
    display: block;
}
.project-instruction {
    font-style: italic;
}

/* Clearfix after project paragraph containing hyperlinks */
.project::after {
    content: "";
    display: table;
    clear: both;
}

/* For laptop and desktop screens */
@media only screen and (min-width: 600px) {
    .project a {
        float: left;
        width: 50%;
        line-height: initial;
    }
    .project-instruction {
        text-align: center;
    }
}