/* Style the burger menu icon in nav menu on mobile screens */
.icon {
    text-align: right;
}

/* Hide menu on mobile devices */
.menu
{
    display: none;
    padding-inline-start: 0; /* Remove default padding for ul */
    color: coral;
}
/* Show menu when user clicks menu icon */
.show .menu {
    display: block;
}

.dropdown span:hover {
    opacity: 0.7;
    text-decoration: underline;
    color: rgb(17, 199, 255);
}

/* Hide menu dropdown content */
.dropdown-content {
    display: none;
}

    /* Style all lists and links in nav menu */
    nav li {
        list-style-type: none;
    }
        nav ul li {
            margin-top: 30px;
        }
            nav a {
                text-decoration: none;
                font-style: normal;
            }
            nav a:hover {
                opacity: 0.7;
                text-decoration: underline;
                color: rgb(17, 199, 255);
            }
            /* Style menu items of active pages */
            .active {
                font-weight: bold;
            }

/* For laptop screens */
@media only screen and (min-width: 600px) {
    /* Reset header styling */
    header {
        padding-bottom: 0;
    }
        /* Hide menu icon */
        .icon  {
            display: none;
        }
        /* Show menu */
        .menu {
            display: grid;
            padding-inline-start: 0; /* Remove default padding for ul */
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5px;
            row-gap: 25px;
            grid-template-areas: 
                "a b"
                "c d";
            align-items: start;
        }
            .menu li {
                margin-top: 0;
            }

            /* Arrange grid template areas */
            .menu-home {
                grid-area: a;
            }
            .dropdown:nth-of-type(2) {
                grid-area: b;
            }
            .dropdown:nth-of-type(3) {
                grid-area: c;
            }
            .dropdown:nth-child(4) {
                grid-area: d;
            }

            /* Toggle dropdown menus */
            .dropdown {            
                overflow: hidden; /* no scrolling */
            }
                .dropdown-content {
                    font-size: smaller;
                }
                        .dropdown-content li {
                            margin-top: 10px;
                        }
 }

 /* For desktop screens */
 @media only screen and (min-width: 768px) {
    .menu {
        grid-template-columns: 2fr 2fr 1fr 2fr 2fr 1fr; /* 1/2 column fractions */
        grid-template-areas: "a b b c d d";
    }
        .dropdown-content {
            padding-inline-start: 15px;
        }
 }

 /* For larger screens */
 @media only screen and (min-width: 1024px) {
        .menu {
            grid-template-columns: repeat(2, 2fr) 1fr repeat(2, 2fr) 1fr;
            grid-template-areas: "a b b c d d";
        }
 }
